@charset utf-8;
/*ADICIONANDO A FONTE AO PROJETO*/
@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuSans.ttf") format("truetype");
}
/*TÉRMINO DA ADIÇÃO DE FONTE AO PROJETO*/

/*VIEW DO CABEÇALHO*/
.fa.fa-bars {
    color: #c5c5c5 !important;
}

.cabecalho img {
    height: 40%;
    width: 40%;
    margin-top: 20px;
}

.logo-pequeno {
    width: 100%;
    margin-top: 10px;
}

.cabecalho2 a span {
    font-size: 23px;
    padding: 30px 20px 0 20px;
}

.cabecalho2 a .fa-facebook {
    color: #3b5998;
}

.cabecalho2 a .fa-twitter {
    color: #4099FF;
}

.cabecalho2 a .fa-google-plus {
    color: #dd4b39;
}

.cabecalho2 a .fa-linkedin {
    color: #0e76a8;
}

/*INICIO DA ESTILIZAÇÃO DO MENU*/
.navbar-toggle {
    border: 1px solid #ccc;
    color: #ccc;
}

.navbarDefault {
    margin-top: 20px;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    font-family: "dejavu";
}

.navbar ul li a {
    font-size: 16px;
}

.navbar div {
    
    padding-left: 20px;
}

/*Cor de cada link*/
.inicio{
    color: #111;
}

.navbar ul li a.inicio:hover{
    color: #fff;
    background-color: #111;
}

.navbar ul li a.noticias, .titulo-noticias {
    color: #a07a02;
}

.btn-noticias, .navbar ul li a.noticias:hover{
    color: #fff;
    background-color:#a07a02;
}

.navbar ul li a.tutoriais, .titulo-tutoriais{
    color: #D95B43;
}

.btn-tutoriais, .navbar ul li a.tutoriais:hover{
    color: #fff;
    background-color: #D95B43;
}

.navbar ul li a.aprenda, .titulo-aprenda{
    color: #C02942;
}

.btn-aprenda, .navbar ul li a.aprenda:hover{
    color:#fff;
    background-color: #C02942;
}

.navbar ul li a.dicas-seguranca, .titulo-dicas-seguranca{
    color: #542437;
}

.btn-dicas-seguranca, .navbar ul li a.dicas-seguranca:hover{
    color:#fff;
    background-color: #542437;
}

.navbar ul li a.distro, .titulo-distro{
    color: #53777A;
}

.btn-distro, .navbar ul li a.distro:hover{
    color: #fff;
    background-color: #53777A;
}

.navbar ul li a.quem-somos{
    color: #a04714;
}

.navbar ul li a.quem-somos:hover{
    color:#fff;
    background-color: #a04714;
}

.navbar ul li a.login:hover, .btn-login {
    color: #fff;
    background-color: #338ecf;
}
/*Término da cor de cada link*/

/*Quando o menu estiver ativo*/
.ativo-inicio {
    border-bottom: 2px solid #111;
}

.ativo-noticias {
    border-bottom: 2px solid #a07a02;
}

.ativo-tutoriais {
    border-bottom: 2px solid #D95B43;
}

.ativo-aprenda {
    border-bottom: 2px solid #C02942;
}

.ativo-dicas {
    border-bottom: 2px solid #542437;
}

.ativo-distro {
    border-bottom: 2px solid #53777A;
}

.ativo-somos {
    border-bottom: 2px solid #a04714;
}
/*Término de quando o menu estiver ativo*/
/*TÉRMINO DA ESTILIZAÇÃO DO MENU*/

/*TÉRMINO DA VIEW DO CABEÇALHO*/

/*PÁGINA QUEM SOMOS*/
.alunos {
    font-family: "dejavu";
    margin: 40px auto;
}

.alunos img {
    width: 90%;
    height: 90%;
}

.alunos h2 {
    padding-top: 10px;
}
/*FIM DA PÁGINA QUEM SOMOS*/

/*INICIO DO RODAPÉ*/
.rodape {
    background-color: #c5c5c5;
    font-family: "dejavu";
    color: #111;
}

.rodape .redes-sociais {
    text-align: center;
    width: 80%;
}

.rodape .list-group {
    width: 80% !important;
}

.rodape .redes-sociais a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding: 25px;
    width: 100%;
}

.rodape .redes-sociais a.fa-facebook:hover {
    background-color:#304267;
}

.rodape .redes-sociais a.fa-twitter:hover {
    background-color:#337ab7;
}

.rodape .redes-sociais a.fa-google-plus:hover {
    background-color:#7a342c;
}

.rodape .redes-sociais a.fa-linkedin-square:hover {
    background-color:#2e5163;
}

.rodape .rede-facebook {
    background-color: #3b5998;
}

.rodape .rede-twitter {
    background-color: #55acee;
}

.rodape .rede-gplus {
    background-color: #dd4b39;
}

.rodape .rede-linkedin {
    background-color: #0077b5;
}

.rodape h2 {
    font-size: 20px;
}

.rodape form input {
    border-radius: 0;
    border: none;

}

.rodape form textarea {
    border-radius: 0;
    border: none;
    resize: vertical;
}

.rodape form .btn-enviar {
    width: 100%;
    border-radius: 0;
    margin: 15px auto;
}

.copyright {
    border-top: 1px solid #999;
}
/*TÉRMINO DO RODAPÉ*/

/*INICIO DA ESTILIZAÇÃO DA PÁGINA DE LOGIN*/
.login {
    font-family: "dejavu";
}
.login form {
    width: 300px;
    height: 300px;
    margin: 60px auto;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 8px;
}

.login form button {
    margin-bottom: 20px;
    width: 260px;
}
/*FIM DA ESTILIZAÇÃO DA PÁGINA DE LOGIN*/

/*Inicio da estilização da página de notícias*/
.noticias {
    font-family: "dejavu";
}

.noticias .container {
    margin-top: 30px;
    margin-bottom: 80px;
}

.noticias .date {
    margin-bottom: 20px;
    color: #666;
}

.noticias .sidebar div {
    margin: 20px auto;
}

.noticias .conteudo p {
    font-size: 16px;
}

.noticias h1 {
    background-color: #f6f6f6;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 105px;
    color: #a07a02;
}

.noticias h2 {
    font-size: 22px;
    color: #a07a02;
}

.noticias a {
    color: #a07a02;
    text-decoration: none;
}

.noticias a:hover {
    font-weight: bold;
    font-style: italic;
}

.noticias a img:hover {
    opacity: 0.6;
    background-color: #000;
}

/*Notícias principais*/
.imagem-noticias {
    width: 80%;
    margin: 20px auto;
}

.post-noticias .visao-post {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.post-noticias h2 {
    color: #a07a02;
}

.post-noticias img {
    border-radius: 4px;
    width: 60%;
}

.post-noticias p:first-letter {
    color: #a07a02;
}
/*Fim das notícias principais*/

/*Inicio da página aprenda*/
.aprenda {
    font-family: "dejavu";
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.aprenda a.link-post {
    color: #C02942;
    font-size: 22px;
}

.aprenda .post-principal {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aprenda .post-principal h1 a {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;
}

.aprenda .post2, .post-principal, .sidebar-aprenda {
    margin: 50px auto;
}

.aprenda .post2 h1 a, .aprenda .post3 h1 a {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-aprenda p {
    font-size: 11px;
    text-align:center;
}
/*Término da página aprenda*/

/*Inicio da página de tutoriais - By Alex*/
/* Move down content because we have a fixed navbar that is 50px tall */
.tutorias {
    font-family: "dejavu";
}
.tutoriais ul li{
    list-style: none;
}
.tutoriais .sidebar-downloads ul li {
    padding-bottom: 8px;
}

.tutoriais .sidebar-downloads ul li a{
    padding-left: 15px;

}

.tutoriais .nav-downloads ul {
    padding-left: 5px;
}
.tutoriais .imagemubuntu {
    width: 765px;
    height: 464px;
    margin-bottom: 40px;
}

.tutoriais .socialicon {
    color: dimgrey;
    list-style: none;
}

.tutoriais .socialicon a {
    color: dimgrey;

}
.tutoriais .fa-facebook-square:hover{
    color: #3b5998;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.tutoriais .fa-twitter-square:hover {
    color: #55acee;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.tutoriais .fa-linkedin-square-tuto:hover {
    color: #0077b5;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.tutoriais .fa-youtube-square:hover {
    color: #e52d27;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.tutoriais .fa-lightbulb-o {
    font-size: 30px;
    margin-right: 3px;
}
.tutoriais .imgavatar {
    top: 20px;
}

.tutoriais .lampada {
    top: 50px;
}

.tutoriais .quemsou {
    margin-top: 10px;
}

.tutoriais .livrodummies {
    margin-left: -15px;
}
/*Alterando as cores dos botões*/
.btn-cor-tutoriais {
    background-color: #D95B43;
    border: none;
}

.btn-cor-tutoriais:hover {
    background-color: #D95B43;
    opacity: 0.9;
}

.color-tutoriais, .color-tutoriais li a {
    color: #D95B43 !important;
}

.color-tutoriais li, .fa-linux {
    color: #222;
}

.quem-sou-alex {
    margin-bottom:20px;
    margin-top: 20px;
}

.article-baixo {
    margin-bottom: 40px;
}
/*Término da página de tutoriais*/

/*Inicio da estilização da index*/
.inicio {
    font-family: "dejavu";
}
.inicio .card {
    border: 1px solid #ccc;
    margin: 10px auto;
    border-radius: 7px;
}

.inicio .card img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.inicio .card p {
    padding: 10px;
}

.inicio .card a.btn {
    margin: 10px;
}

.inicio .card a.btn:hover {
    opacity: 0.8;
    color: #fff;
}

.inicio .newsletter {
    width: 80%;
    background-color: #23527c;
    margin: 30px auto;
    color: #f1f1f1;
    padding: 20px;
    margin-top: 80px;
}

.inicio .newsletter .btn {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0;
}

.inicio .newsletter .input-group {
    margin-top: 30px;
}

.inicio .newsletter input, .input-group-addon {
    border-radius: 0;
}
/*Término da estilização da index*/


/*Término da estilização da página de notícias*/

/*MEDIAS QUERIES PARA CELULAR E TABLETS*/
@media screen and (max-width: 769px) {
    .alunos img {
        width: 40%;
        height: 40%;
    }

    .alunos h2 {
        text-align: center;
    }

    .noticias-principais {
        width: 100%;
    }

    .noticias h1 {
        padding-left: 20px;
        font-size: 22px;
    }

    .noticias .sidebar a {
        text-align: center;
    }

    .noticias .sidebar img {
        width: 60%;
    }

    /*rodapé*/
    .rodape .redes-sociais {
        width: 100%;
    }

    .rodape .list-group {
        width: 100% !important;
    }
    /*fim de rodapé*/
}

@media screen and (max-width: 1024px) {
    .nav li a{
        padding: 10px 5px !important;
    }
}



/* Teco do Yuri */

.distro {
    font-family: "dejavu";
}

.distro .container {
    margin-top: 30px;
    margin-bottom: 80px;
}

.distro .date {
    margin-bottom: 20px;
    color: #666;
}

.noticias .sidebar div {
    margin: 20px auto;
}

.distro p {
    font-size: 16px;
    text-align: justify;
}

.distro h1 {
    background-color: #f6f6f6;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 105px;
    color: #53777A;
}

.distro h2 {
    font-size: 22px;
    color: #53777A;
}

.distro a {
    color: #53777A;
    text-decoration: none;
}

.distro a:hover {
    font-weight: bold;
    font-style: italic;
}

.distro a img:hover {
    opacity: 0.6;
    background-color: #000;
}

.distro .plinha
  {
    height:2em;
     line-height:2em; /* Height / no. of lines to display */
     overflow:hidden;
}

.distro .btn-dah-distro {

    background-color: #beefed;
    height:2em;
     padding: 3px 3px 0 3px;
     color: grey;

}

.distro .btn-link {

     padding: 0 0 0 0;

}

.distro form {
     display:inline !important;
     margin:0px;
     padding:0px;
}

.grande {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
    color: #fff ;
    background-color: #d9534f ;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
    color: #fff ;
    background-color: #d9534f ;
}

.panel-red > a:hover {
    color: #fff;
    background-color: #d9534f ;
}

.panel-red > .panel-footer {
    color: #53777A;
}

.panel-red .lbl-ajuda {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.panel-blue {
  border-color: #337ab7;
  background-color: #337ab7;
  border-color: #337ab7;
  color:  #fff;
}
.panel-blue > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;

}

.panel-blue > a {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.panel-blue > a:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.panel-blue > .panel-footer {
    color: #53777A;
}

.legenda {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.subiu {
  background: #d0e9c6;
}

.desceu {
  background: #EBCCCC;
}

/* Fim do Teco do Yuri */
/*Inicio da página DICAS*/

h1 {
    padding-left: 385px;
    color: #542437;
}

.dicas {
    font-family: "arial";
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}
.dicas h6 > a {
    color: #000;
}
.dicas a.dic1 {
    color: #542437;
    font-size: 20px;
}

.dicas .foto {
    padding-top: 14px;

}

.dicas .foto1 {
    padding-top: 0px;

}

.dicas .mant1 {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d3d3d3;
}

.dicas .btn {
    margin-left: auto;
    color: #FFFFFF;
    background-color: #542437;
}
.dicas1, .dicas2, .dicas3, .dicas4, .dicas5 {
    font-family: "arial";
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.dicas1 h1 {
    text-align: center;
    color: #542437;
}
.dicas1 h2 {
    color: #542437;
}

.dicas1 .btn {
    margin-left: auto;
    color: #ffffff;
    background-color: #542437;
}

.dicas1 .yur {
    margin-top: 5px;
}

.dicas1 .sist {
    margin-top: 5px;
    margin-bottom: 10px;
}

.dicas1 .dict1 {
margin-top: auto;
}
.dicas .mant2 {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d3d3d3;
}

.dicas2 h1 {
    margin-top: 0px;
    text-align: center;
    color: #542437;
}

.dicas2 .btn {
    margin-left: auto;
    color: #ffffff;
    background-color: #542437;
}
.dicas2 .dict2 {
margin-top: auto;
}

.dicas2 .dav {
    margin-top: 380px;
}

.dicas2 .fire {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dicas .mant3 {

    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d3d3d3;
}

.dicas3 h1 {
    text-align: center;
    color: #542437;
}
.dicas3 .btn {
    margin-left: auto;
    color: #ffffff;
    background-color: #542437;
}

.dicas3 .dict3 {
margin-top: auto;
}

.dicas3 .alb {
    margin-top: 5px;
}

.dicas .mant4 {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d3d3d3;
}

.dicas4 h1 {
    text-align: center;
    color: #542437;
}

.dicas4 h2 {
    margin-left: 180px;
    color: #542437;
}
.dicas4 .btn {
    margin-left: auto;
    color: #ffffff;
    background-color: #542437;
}
.dicas4 .dict4 {
margin-top: auto;
}

.dicas4 .rod {
    margin-top: 5px;
}

.dicas .mant5 {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d3d3d3;
}

.dicas5 h1 {
    text-align: center;
    color: #542437;
}
.dicas5 h2 {
    margin-left: 180px;
    color: #542437;
}
.dicas5 .btn {
    margin-left: auto;
    color: #ffffff;
    background-color: #542437;
}
.dicas5 .dict5 {
margin-top: auto;
}

.dicas5 .ale {
    margin-top: 5px;
}


/*Término da página DICAS*/
/*Zerando row do bootstrap para não bugar o site*/
.row {
    margin: 0;
}
